@font-face {
    font-family: "amazon-ember";
    src: url("fonts/AmazonEmber_Rg.ttf");
}

body {
    font-family: amazon-ember;
    background-color: #F3F3F3;
}

textarea {
    min-height: 150px;
    padding: 7px;
    width: 100%;
    border-radius: 7px;
    line-height: 17px;
    outline: none;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
    min-width: 150px;
    padding: 30px;
}

.result {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 50px;
}

.checkbox {
    float: right;
    margin-top: 7px;
}

button {
    border: 1px solid #ff8b00;
    border-radius: 5px;
    padding: 7px;
    background-color: #FF9900;
    color: white;
    outline: none;
}

button:hover {
    background-color: #ff8b00;
    cursor: pointer;
}

.checkbox span {
    position: relative;
    top: -2px;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}